<div class="bg-light text-center pt-3 pb-2" style="margin-bottom:0">
    <h3>laravel & Angular SPA</h3>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/task']">Task Manager</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/tasks']">Task List</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/todo']">Todo Manager</a>
            </li>
        </ul>
    </div>
</nav>

