<app-header></app-header>

<div class="container-fluid" style="min-height: 68vh">
    <div class="row">
        <div class="col-md-12 text-center fade-in">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


<app-footer></app-footer>

