<div class="row justify-content-center">
    <div class="col-md-7 mt-4">
        <div class="card">
            <div class="card-header bg-danger text-white text-left" style="height: 35px">
                <h5 class="card-title" style="margin-top: -7px">Create Task</h5>
            </div>

            <div class="card-body pt-3">
                <form (submit)="storeTask($event)">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-10">
                                <input type="text" required name="task_title" id="title" [(ngModel)]="task.title" class="form-control rounded-0" placeholder="Enter Task Title">
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-dark rounded-0 btn-block">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
