<div class="row justify-content-center">
    <div class="col-md-7">
        <div class="table-responsive scrollbar mt-4" style="height: 400px; overflow-x: hidden; overflow-y: scroll">
            <table class="table table-hover table-sm table-border" >
                <thead>
                <tr class="bg-dark text-white">
                    <th scope="col" width="2%">#</th>
                    <th scope="col">Task Title</th>
                    <th scope="col" width="10%">Action </th>
                </tr>
                </thead>
                <tbody class="">
                <tr *ngFor="let task of tasks; index as i">
                    <td>{{i+1}}</td>
                    <td>{{task.title}}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <a  href="javascript:void(0)" routerLink="/task/{{task.id}}/edit" class="btn btn-warning rounded-0">Edit</a>
                            <a href="javascript:void(0)" ng-click="tasks.splice($index,1)" (click)="deleteTask(task.id)" type="button" class="btn btn-danger rounded-0">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

